.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

.image-swiper-button-next {
  color: black;
  background-color: #444444ad;
  border-radius: 10px;
  size: 20px;
}
.image-swiper-button-prev {
  color: black;
  background-color: #444444ad;
  border-radius: 10px;
  size: 20px;
}
.image-swiper-button-disabled {
  color: black;
  background-color: #444444ad;
  border-radius: 10px;
  size: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: transparent;
}
